.hide1, .hide2, .hide3, .hide4, .hide5, .hide6, .hide7, {
    display:none;
}

.hide01, .hide02, .hide03, .hide04, .hide05, .hide06, .hide07, .hide08, .hide09, .hide10, .hide11, .hide12, .hide13, .hide14, .hide15, .hide16, .hide17, .hide18, .hide19, .hide20, .hide21, .hide22, .hide23, .hide24, .hide25, .hide26, .hide27 {
    display:none;
}

.toogle {
	cursor: pointer;
	border-bottom: 0px dashed silver;
}

#mesrealisations ul {
	margin: 0;
}

#mesrealisations h5, #mesrealisations h3 {
	padding-top: 0px;
}